mat73                                                                         
numpy                                                     
matplotlib                                                                                        
scipy                                                          
tqdm
sklearn
tensorflow
seaborn
cebra
ipykernel